<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
欢迎您
<div >
    <div style="text-align: center ;border: 3px solid red;margin-left: 50px;margin-right: 50px">
        首页
        <div style="float: right"><a href="user/login">登录</a></div>
    </div>
</div>
<div id="app">
    <div id="d1" >
        <p style="background-color: pink">LEVEL1</p>
        <ul>
            <li><a href="/user/l1/1">1</a></li>
            <li><a href="/user/l1/2">2</a></li>
            <li><a href="/user/l1/3">3</a></li>
        </ul>
    </div>
    <div id="d2">
        <p style="background-color: orange">LEVEL2</p>
        <ul>
            <li><a href="/user/l2/1">1</a></li>
            <li><a href="/user/l2/2">2</a></li>
            <li><a href="/user/l2/3">3</a></li>
        </ul>
    </div>
    <div id="d3">
        <p style="background-color: yellow">LEVEL3</p>
        <ul>
            <li><a href="/user/l3/1">1</a></li>
            <li><a href="/user/l3/2">2</a></li>
            <li><a href="/user/l3/3">3</a></li>
        </ul>
    </div>
</div>
<div>
    <form action="/error/500.html" method="post">
        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>
