<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.server.mapper.MenuMapper">

    <resultMap id="getMenuByAdminId" type="menu">
        <id column="id1" property="id"/>
        <result column="path1" property="path"/>
        <result column="component1" property="componentName"/>
        <result column="name1" property="name"/>
        <result column="icon1" property="iconCls"/>
        <result column="keepAlive1" property="keepAlive"/>
        <result column="requireAuth1" property="requireAuth"/>
        <result column="parentId1" property="parentId"/>
        <result column="enabled1" property="enabled"/>
        <collection property="children" ofType="menu">
            <id column="id2" property="id"/>
            <result column="path2" property="path"/>
            <result column="component2" property="componentName"/>
            <result column="name2" property="name"/>
            <result column="icon2" property="iconCls"/>
            <result column="keepAlive2" property="keepAlive"/>
            <result column="requireAuth2" property="requireAuth"/>
            <result column="parentId2" property="parentId"/>
            <result column="enabled2" property="enabled"/>
        </collection>
    </resultMap>
    <select id="getMenuByAdminId" resultMap="getMenuByAdminId">
        SELECT
            m1.id id1, m1.path path1, m1.component_name component1 , m1.name name1, m1.icon_cls icon1, m1.keep_alive keepAlive1, m1.require_auth requireAuth1, m1.parent_id parentId1, m1.enabled enabled1,
            m2.id id2, m2.path path2, m2.component_name component2, m2.name name2, m2.icon_cls icon2, m2.keep_alive keepAlive2, m2.require_auth requireAuth2, m2.parent_id parentId2, m2.enabled enabled2
        FROM
            t_menu m1,t_menu m2 ,t_admin_role ar,t_menu_role mr
        where
            m1.id = m2.parent_id
          AND
            m2.id = mr.mid
          AND
            ar.rid = mr.rid
          AND
            ar.aid = #{aid}

    </select>


    <resultMap id="getMenuByRoleId" type="menu">
        <id property="id" column="menuId"/>
        <result property="path" column="menuPath"/>
    </resultMap>
    <select id="getMenuByRoleId" resultMap="getMenuByRoleId">
        select
            m.id menuId,m.path menuPath
        from
            t_menu m
                inner join
            t_menu_role mr on m.id = mr.mid
        where mr.rid = #{rid}
    </select>

    <resultMap id="getMenuSorted" type="menu">
        <id property="id" column="pid"/>
        <result property="name" column="pname"/>
        <result property="path" column="ppath"/>
        <collection property="children" ofType="menu">
            <id property="id" column="cid"/>
            <result property="name" column="cname"/>
            <result property="path" column="cpath"/>
        </collection>
    </resultMap>

    <select id="getMenuSorted" resultMap="getMenuSorted">
        select
            m1.id pid, m1.name pname,m1.path ppath,
            m2.id cid, m2.name cname, m2.path cpath
        from
            t_menu m1
                INNER JOIN
            t_menu m2 on m1.id = m2.parent_id
    </select>



</mapper>
