<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.ex.entity.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="totalCount" column="total_count" jdbcType="INTEGER"/>
            <result property="currentCount" column="current_count" jdbcType="INTEGER"/>
            <result property="isEnabled" column="is_enabled" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtUpdate" column="gmt_update" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_name,total_count,
        current_count,is_enabled,gmt_create,
        gmt_update
    </sql>
</mapper>
