body,div,span,form,p,a,input{
   padding: 0;
    margin: 0;
}
/*-----------------------------------------------*/
/*登录模块*/
#login{
    width: 346px;
    position: absolute;
    z-index: 5;
    background-color: white;
    left: 888px;
    top: 100px;
}
#tips-head{
    font-size: 12px;
    color: grey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff8f0;
}
#eyebrows{
    width: 346px;
    height: 54px;
}
.login-tab{
    width: 173px;
    height: 54px;
    font-size: 18px;
    text-align: center;
    float: left;
    border-bottom: 1px solid #f4f4f4;
}
.login-tab a{
    padding-top: 18px;
    line-height: 18px;
    width: 173px;
    /*float: right;*/
    display: block;
    color: black;
    text-decoration: none;
}
/*.login-tab a:hover{*/
/*    color: orange;*/
/*    text-decoration: underline;*/
/*}*/
a:hover{
    color: orange;
    text-decoration: underline;
}
.errmsg{
    height: 30px;
    font-size: 14px;
    color: #f56464;
    text-align: center;
    line-height: 30px;
}

.loginname{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.login-label{
    background: url("../images/pwd-icons-new.png");
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    position: absolute;
    left: 19px;
}
.logname{
    height: 16px;
    width: 254px;
    padding: 10px 0 10px 50px;
    font-size: 14px;
    border: 1px solid #908989;
}
#erweima{
    text-align: center;
}
#erweima>div{
    font-size: 12px;
    color: #908989;
    margin-bottom: 20px;
}
.erweima{
    display: block;
    width: 135px;
    height: 135px;
    background: url("../images/erweima.png");
    background-repeat: no-repeat;
    background-size: 100%,100%;
    margin: 0 auto;
}
.password-label{
    background: url("../images/pwd-icons-new.png");
    background-position: -48px -48px;
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    position: absolute;
    left: 19px;
    z-index: 3;
}
#losspwd{
    font-size: 10px;
    height: 20px;
    width: 254px;
    text-align: right;
    line-height: 20px;
    position: relative;
    left: 72px;
    margin-bottom: 20px;
}
#losspwd a{
    color: black;
    text-decoration: none;
}
#losspwd a:hover{
    color: orange;
    text-decoration: underline;
}
.submit{
    display: block;
    width: 306px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #f4f4f4;
    background-color: red;
    border: red;
    text-align: center;
    position: relative;
    left: 21px;
    text-decoration: none;
    margin-bottom: 20px;
}
.last-tip{
    height: 50px;
    background-color: #f8f5f5;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: #808080;
}
.last-tip>div{
    line-height: 50px;
}
.last-tip>div>a{
    float: left;
    text-decoration: none;
}
.last-tip a:last-of-type{
    position: relative;
    left: 6px;
}
.qq-icon{
    background: url("../images/QQ-weixin.png") no-repeat;
    display: block;
    height: 18px;
    width: 19px;
    float: left;
    position: relative;
    top: 16px;
    right: 4px;
}
.weixin-icon{
    background: url("../images/QQ-weixin.png") no-repeat;
    background-position: -19px 0;
    display: block;
    height: 18px;
    width: 19px;
    float: left;
    position: relative;
    top: 16px;
    right: -4px;
}
/*--------------------------------------------------*/
/*背景图*/
.bg{
    height: 600px;
    background: url("../images/img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 2;
   /* opacity: 0.8;*//*透明度*/
}

footer>ul{
    list-style: none;
    font-size: 14px;
}
footer>ul>li{
    display: inline-block;
}
footer>ul>li>a{
    text-decoration: none;
    color: #908989;
}
footer> .copyright{
    color: #908989;
    font-size: 14px;
}

/*----------------------------------------*/
#provinces{
    width: 55px;
    height: 20px;
}

