<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug" monitorInterval="30">
    <Properties>
        <Property name="LOG_NAME">iyeb</Property>
    </Properties>
    <!-- 先定义所有的appender(附加器)-->
    <appenders>

        <!-- 输出控制台的配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%-5p] %l - %m%n"/>
        </Console>

        <!--按一定规则拆分的文件日志-->
        <RollingFile name="RollingFile" fileName="logs/${LOG_NAME}/web.log"
                     filePattern="logs/$${date:yyyy-MM}/web-%d{MM-dd-yyyy}-%i.log.gz">
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] %l - %m%n"/>
            <!--只保存error以上的日志-->
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--触发日志-->
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 KB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="Console"/>
<!--            <appender-ref ref="RollingFile"/>-->
        </root>
    </loggers>
</configuration>
