<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis的主配置文件-->
<configuration>
    <!--
    resource属性:用于指定配置文件的位置,是按照类路径的写法来写,并且存在于类路径下
    url属性:Uniform resource locator 统一资源定位符,它是唯一标识一个资源的位置
    写法: 协议 主机 端口号 uri
    uri
    -->
    <typeAliases>
        <package name="my.domain"/>
    </typeAliases>

    <!--<mappers>
        <package name="my.dao"/>
    </mappers>
-->
</configuration>
