version: '3'
services:
  plumemo-blog-server:
    image: plumemo-blog-server:v1.0 #设定镜像与tag
    container_name: plumemo-blog-server
    restart: always
    build: .
    environment:
      TZ: Asia/Shanghai # 指定时区
    ports:
      - "8086:8086"
    volumes:
      - /home/blog/server/app/logs:/logs
    depends_on:
      - mysql
  imysql:
    restart: always
    image: mysql:5.7
    container_name: imysql
    volumes:
      - /home/blog/server/mysql/config/mydir:/mydir
      - /home/blog/server/mysql/config/datadir:/var/lib/mysql
      - /home/blog/server/mysql/config/conf/my.cnf:/etc/my.cnf
      #      数据库还原目录 可将需要还原的sql文件放在这里
      - /docker/mysql/source:/docker-entrypoint-initdb.d
    environment:
      TZ: Asia/Shanghai
    ports:
      - 3306:3306